<!DOCTYPE html>
<html>
<head>
    <title>Product Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        h1, h2, p {
            color: #333;
        }
        .product-card {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <img src="C:\onple\onple\templates\image\상품추천.png" alt="onple">
    <div class="product-card">
        <h1>Shopping Cart</h1>
        <h2>Product: {{ product['상품명'].values }}</h2>
        <p>Category: {{ product['중 카테고리'].values }}</p>
        <p>Price: {{ product['상품판매가'].values }}</p>
    </div>

    <div class="product-card">
        <img src="/templates/image/다른고객이함께구매한상품.png" alt="onple">
        <h2>Product: {{ recommendations['상품명'] }}</h2>
        <p>Category: {{ recommendations['중 카테고리'] }}</p>
        <p>Price: {{ recommendations['상품판매가'] }}</p>
    </div>
</body>
</html>
